header {
    display: flex; width: 100%; background-color: firebrick;
    border-block: 5px solid rgb(17, 17, 17);
   

}
body {
    font-family:sans-serif;
    display: grid;
 
}

.myNav{
    padding:0;
    margin: 0;
    display: flex;
    flex-direction: row;
    background-color:firebrick;
    list-style-type: none;
   
}
.navList{
    text-align:center;
    font-size: 1.5em;
    padding: 0.1em;
    margin: 2em;

}
.navList a {
    text-decoration: none ; color: ghostwhite
}
h2 {
    color: #f2be1a;
}

.smalist{
    
    display: flex;
    flex-direction: row;
    list-style-type:none;
    display: grid;

}

.container{
    max-width: 1200px;
    margin:0 auto;
    padding:3rem 2rem;
 }
 .container .title{
    font-size: 1.5rem;
    color:#444;
    margin-bottom: 1rem;
    text-transform: uppercase;
    text-align: center;
 }
 .container .products-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap:2rem;
 }

 .container .products-container .product{
    text-align: center;
    padding:3rem 2rem;
    background: #fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    outline: .1rem solid #ccc;
    outline-offset: -1.5rem;
    cursor: pointer;
 }
 .container .products-container .product img{
    height: 20rem;
 }
 footer {
    background-color: #34516c;
    color: #fff;
    padding: 20px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.links, .contact, .location {
    margin-bottom: 20px;
}

.links {
   
    padding: 10px;
}

.contact {
    
    padding: 10px;
}

.location {
    
    padding: 10px;
}
@media (max-width: 768px) {
  /* Styles for screens up to 768px wide */
  .main-content {
    width: 100%;
  }
}